<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms reservation center</title>
    <link rel="stylesheet" href="/style.css">
    
</head>

<body> -->
<!-- <form action="/free" method="post" class="myroom"> -->
<!-- <div class="cont">
            <div class="logo">
                <img src="/bg.jpg" alt="Error loading image">
            </div>
            <ul>
                <li class="box"><a href="/">Home</a> </li>
                <li class="box"><a href="/#about">About</a> </li>
                <li class="box"><a href="/#services">Services</a> </li>
                <li class="box"><a href="/contact">Contact us</a> </li>
            </ul>
        </div>
        <section class="ser">
            <h1>Want to Free the Room</h1>
            <div class="free">Which room do you want to free?</div>
            <ul>
                <form action="/free/1" method="post">
                    <button class="btn bt2">
                        Room 1
                    </button>
                </form>
                <form action="/free/2" method="post">
                    <button class="btn bt2">
                        Room 2
                    </button>
                </form>
                <form action="/free/3" method="post">
                    <button class="btn bt2">
                        Room 3
                    </button>
                </form>
                <form action="/free/4" method="post">
                    <button class="btn bt2">
                        Room 4
                    </button>
                </form>
                <form action="/free/5" method="post">
                    <button class="btn bt2">
                        Room 5
                    </button>
                </form>
            </ul>
            <ul>
                <form action="/free/6" method="post">
                    <button class="btn bt2">
                        Room 6
                    </button>
                </form>
                <form action="/free/7" method="post">
                    <button class="btn bt2">
                        Room 7
                    </button>
                </form>
                <form action="/free/8" method="post">
                    <button class="btn bt2">
                        Room 8
                    </button>
                </form>
                <form action="/free/9" method="post">
                    <button class="btn bt2">
                        Room 9
                    </button>
                </form>
                <form action="/free/10" method="post">
                    <button class="btn bt2">
                        Room 10
                    </button>
                </form>
            </ul>
        </section>
        <footer>
            | copyright @ 2023 RoomsBookingCenter.com | All rights reserved
        </footer> -->
<!-- </form> -->

<!-- 
</body>

</html> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Up Room</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="cont">
        <div class="logo">
            <img src="/bg.jpg" alt="Error loading image">
            <!-- <img src="./views/static/bg.jpg" alt="Error loading image"> -->

        </div>
        <ul>
            <li class="box"><a href="/">Home</a> </li>
            <li class="box"><a href="/#about">About</a> </li>
            <li class="box"><a href="/#services">Services</a> </li>
            <li class="box"><a href="/contact">Registration</a> </li>
        </ul>
    </div>

    <section class="ser h">
        <h2>Room ID Details</h2>
        <form action="/free" method="post" class="my">
            <!-- <input type="text" id="userId" name="userId" placeholder="Enter Room ID"> -->
            <!-- <button type="submit" class="btn sub">Free Room</button> -->
            <div class="container">
                <input type="text" name="userId" id="userId" class="input" required>
                <label class="label"> Enter Room Id:</label>
            </div>
            <button class="animated-button">
                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                    </path>
                </svg>
                <span class="text">Free Room</span>
                <span class="circle"></span>
                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                    </path>
                </svg>
            </button>
        </form>
    </section>
</body>

</html>
