<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms reservation center</title>
    <link rel="stylesheet" href="/style.css">
    
</head>

<body> -->
    <!-- <form action="/free" method="post" class="myroom"> -->
        <!-- <div class="cont">
            <div class="logo">
                <img src="/bg.jpg" alt="Error loading image">
            </div>
            <ul>
                <li class="box"><a href="/">Home</a> </li>
                <li class="box"><a href="/#about">About</a> </li>
                <li class="box"><a href="/#services">Services</a> </li>
                <li class="box"><a href="/contact">Contact us</a> </li>
            </ul>
        </div>
        <section class="ser">
            <h1>Want to Free the Room</h1>
            <div class="free">Which room do you want to free?</div>
            <ul>
                <form action="/free/1" method="post">
                    <button class="btn bt2">
                        Room 1
                    </button>
                </form>
                <form action="/free/2" method="post">
                    <button class="btn bt2">
                        Room 2
                    </button>
                </form>
                <form action="/free/3" method="post">
                    <button class="btn bt2">
                        Room 3
                    </button>
                </form>
                <form action="/free/4" method="post">
                    <button class="btn bt2">
                        Room 4
                    </button>
                </form>
                <form action="/free/5" method="post">
                    <button class="btn bt2">
                        Room 5
                    </button>
                </form>
            </ul>
            <ul>
                <form action="/free/6" method="post">
                    <button class="btn bt2">
                        Room 6
                    </button>
                </form>
                <form action="/free/7" method="post">
                    <button class="btn bt2">
                        Room 7
                    </button>
                </form>
                <form action="/free/8" method="post">
                    <button class="btn bt2">
                        Room 8
                    </button>
                </form>
                <form action="/free/9" method="post">
                    <button class="btn bt2">
                        Room 9
                    </button>
                </form>
                <form action="/free/10" method="post">
                    <button class="btn bt2">
                        Room 10
                    </button>
                </form>
            </ul>
        </section>
        <footer>
            | copyright @ 2023 RoomsBookingCenter.com | All rights reserved
        </footer> -->
    <!-- </form> -->

<!-- 
</body>

</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Up Room</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <div class="cont">
        <div class="logo">
            <img src="/bg.jpg" alt="Error loading image">
            <!-- <img src="./views/static/bg.jpg" alt="Error loading image"> -->

        </div>
        <ul>
            <li class="box"><a href="/">Home</a> </li>
            <li class="box"><a href="/#about">About</a> </li>
            <li class="box"><a href="/#services">Services</a> </li>
            <li class="box"><a href="/contact">Contact us</a> </li>
        </ul>
    </div>
    
        <!-- <section class="ser h"></section>
            <h3>Free Up Room</h3>
            <form action="/free" method="post" class="my">
                <h3>USER ID Details</h3>
                
                <label for="userId" >User ID:</label>
                <input type="text" id="userId" name="userId" placeholder="User ID">
                <button type="submit" class="btn sub">Free Room</button>
            </form>
        </section> -->
        <section class="ser h">
            <h2>User ID Details</h2>
            <form action="/free" method="post" class="my">
                <input type="text" id="userId" name="userId" placeholder="Enter User ID">
                <button type="submit" class="btn sub">Free Room</button>
            </form>
        </section>
</body>
</html>
