
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 4px 6px;
    position: sticky;
    /* cursor: pointer; */
    top: 0;
}

.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

    .logo:hover {
        transform: scale(1.25);
    }

    .logo img {
        height: 64px;
        width: 80px;
        border-radius: 20px;
        border: 2px solid white;
        /* mix-blend-mode: multiply; */
    }

ul {
    width: 90%;
    display: flex;
    align-items: center;
}

    ul li {
        list-style: none;
        outline: none;
        padding: 4px 14px;
        margin: 10px 12px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        transition: all 2s ease-in-out;
    }

        ul li:hover {
            transform: scale(1.5);
        }

        ul li a {
            text-decoration: none;
            outline: none;
            padding: 10px;
            color: white;
            cursor: pointer;
            transition: all 1s ease-in-out;
        }

            ul li a:hover {
                color: rgb(3, 3, 4);
                border-radius: 20px;
                background-color: white;
            }

.sec {
    background: rgba(0,0,0,0.7) url("bg 3.jpg") center /cover no-repeat;
    /* background-size: cover; */
    background-blend-mode: darken;
    height: 600px;
    /* width: 1263px; */
    width:auto;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding-top: 70px ; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* opacity: 0.9; */
}

    .sec h1 {
        font-size: 70px;
    }

    .sec p {
        font-size: 24px;
    }


.secti {
    /* border: 10px solid black; */
    background: url("bg 2.jpg") center /cover no-repeat;
    height:fit-content;
    width:auto;
}

    .secti h1 {
        font-size: 60px;
        /* margin-top: 20px; */
        padding-top: 30px;
        justify-content: center;
        display: flex;
        color: white;
    }

.sec2 {
    display: flex;
    flex-direction: row;
    /* margin: 50px; */
    padding: 13px 13px;
    /* width: 40%; */
    height: 340px;
}

h2 {
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(181 122 17);
    padding: 3px 3px;
}

p {
    font-size: 20px;
    color: white;
    padding: 30px 2px;
}

.sec2 .s1 {
    border: 3px solid white;
    border-radius: 10px;
    margin: 15px 30px;
    padding: 15px 15px;
    height: 270px;
    width: 400px;
    transition: all 1s ease-in-out;
}
.sec2 .s1:hover{
    transform: scale(1.15);
}

.sec2 .s2 {
    border: 3px solid white;
    border-radius: 10px;
    margin: 15px 30px;
    padding: 15px 15px;
    height: 270px;
    width: 400px;
    transition: all 1s ease-in-out;
}
.sec2 .s2:hover{
    transform: scale(1.15);
}
.sec2 .s3 {
    border: 3px solid white;
    border-radius: 10px;
    margin: 15px 30px;
    padding: 15px 15px;
    height: 270px;
    width: 400px;
    transition: all 1s ease-in-out;
}
.sec2 .s3:hover{
    transform: scale(1.15);
}

.sec-about {
    height: 400px;
    /* background-color: rgb(156, 150, 150); */
    border: 5px solid black;
    /* border-radius: 4px; */
    background: url("bg.jpg") center/cover no-repeat;
    background-size: 600px;
}

    .sec-about h1 {
        font-size: 60px;
        /* margin-top: 20px; */
        padding-top: 30px;
        justify-content: center;
        display: flex;
        color: black;
        /* background-color: black; */
        text-decoration: underline;
    }

.para {
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 30px 29px;
}

footer {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}

.ser {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: auto;
    background: url("bg 3.jpg") center/cover no-repeat;
}

    .ser h1 {
        font-size: 55px;
        color: white;
    }

.btn {
    font-size: 20px;
    margin: 40px 39px;
    padding: 30px 32px;
    background-color: black;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 1s ease-in-out;
}
.btun {
    font-size: 20px;
    margin: 3px 39px;
    padding: 20px 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 1s ease-in-out;
}
    .btn:hover {
        transform: scale(1.25);
    }

    .btun:hover {
        transform: scale(1.25);
    }

.bt2 {
    font-size: 22px;
    margin: 35px 30px;
    padding: 30px 30px;
    /* display: flex;
    margin: auto; */
    align-items: center;
}

.free {
    color: white;
    font-size: 30px;
    margin: 10px;
}

.credit {
    padding: 25px 20px;
    margin: 20px 19px;
    font-size: 20px;
}

.cash {
    padding: 25px 44px;
    margin: 20px 19px;
    font-size: 20px;
}

.h h1 {
    padding-top: 10x;
}

.my {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
    color: white;
}



input {
    width: 150%;
    padding: 10px 10px;
    margin: 6px 10px;
    border: 3px solid white;
    border-radius: 8px;
    background-color: black;
    color: white;
    outline: none;
}

.sub {
    margin: 30px 0px;
    padding: 20px 30px;

}

    .sub:hover {
        background-color: white;
        color: black;
        font-weight: bold;
        border: 2px solid black;
    }

.hom {
    padding: 26px 26px;
    margin-top: 20px;
    font-size: 18px;
}


.box2 {
    display: flex;
}

.my2 {
    margin-right: 5px; /* Adjust as needed */
}

.btnn {
    cursor: pointer;
    outline: none;
    /* width: 35%; */
    margin: 10px 20px;
    padding: 8px 14px;
    border: 2px solid rgb(39, 96, 117);
    border-radius: 20px;
    font-size: 20px;
    background: none;
    color: white;
    font-weight: bold;
    transition: all 1s ease-in-out;
}

    .btnn:hover {
        transform: scale(1.5);
    }


.boxx {
    width: 75%;
    border-bottom: 2px solid rgb(39, 96, 117);
    margin: 16px 0px;
    transition: all 1s ease-in-out;
}

    .boxx:hover {
        width:100%;
        transform: scale(1.25);
    }

    .boxx input {
        width: 75%;
        color:white;
        /* border: 2px solid rgb(39, 96, 117); */
        /* border-radius: 8px; */
        /* transparent bnany k liye  */
        background:none;
        border:none;
        font-family: 'Kanit', sans-serif;
        outline: none;
        padding: 5px 20px;
        font-size: 18px;
    }
